header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 50px black;
    z-index: 1;
    padding: 0 20vw 0 20vw;
}

header mobile .menu {
    display: inline-block;
    background-image: url('arts/menu.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 50px;
}

header mobile .menu:hover {
    transform: scale(0.9);
    filter: brightness(1.3);
}

header mobile .menu-tab {
    display: block;
    position: absolute;
    width: 100vw;
    top: 200px;
    left: 0;
    background: white;
    box-shadow: 0 50px 50px -50px black;
    transform-origin: top;
    transform: scaleY(0);
    transition: 300ms;
}
header mobile a {
    display: block;
    margin: 10px;
    padding: 20px;
    border-top: 2px solid #eee;
    font-size: 30px;
    text-align: center;
}

cont {
    position: relative;
    top: 100px;
}

jumbo {
    display: block;
    position: relative;
    background-image: url('arts/butterfly.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
    box-shadow: 0 0 20px black;
}
jumbo .bg {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
jumbo p {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 4vh;
}
jumbo button {
    background-color: transparent;
    margin: 25px;
    border: solid white 4px;
    color: white;
    font-family: Foobar;
    font-size: 4vh;
    padding: 10px;
    transition: 200ms;
    cursor: pointer;
    border-radius: 20px;
}
jumbo button:hover {
    background-color: white;
    color: #1F597C;
    border-radius: 10px;
}

logo {
    z-index: 1;
    background-image: url('arts/headerLogo.png');
    background-position: center;
    background-size: cover;
    width: 375px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

a {
    transition: 200ms;
    color: #1F597C;
    text-decoration: none;
    border-bottom: transparent 0px solid;
}
a:hover {
    border-bottom: #1F597C 4px solid;
}
a.header {
    margin-right: 30px;
}

p {
    margin: 0;
}

body {
    margin: 0px;
    background-color: #eee;
    font-family: Foobar;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
}

mobile {
    display: none;
}

article {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-position: center;
    background-size: cover;
    scroll-snap-align: start;
}

article p {
    padding: 1vw;
    font-size: 4vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    line-height: 100vh;
    text-align: center;
}

article#hipo {
    background-image: url("arts/hipo.jpg");
}
article#gotow {
    background-image: url("arts/gotow.jpg");
}
    

@font-face {
    src: url('arts/Foobar\ Pro-Regular.otf');
    font-family: Foobar;
}

@media only screen and (max-device-width: 600px) {
    header {
        padding: 0;
        height: 200px;
    }
    cont {
        top: 200px;
    }
    jumbo p {
        font-size: 10vw;
    }
    jumbo button {
        font-size: 10vw;
        margin: 75px;
        border: solid white 10px;
    }
    logo {
        width: 562.5px;
        height: 150px;
        margin: 25px;
        display: inline-block;
        vertical-align: middle;
    }
    mobile {
        display: inline-block;
    }
    desktop {
        display: none;
    }
    article p {
        font-size: 10vw;
        flex: 1;
    }
}

@media (max-width: 600px) {
    header {
        padding: 0;
        height: 200px;
    }
    cont {
        top: 200px;
    }
    jumbo p {
        font-size: 7vw;
    }
    jumbo button {
        font-size: 6vw;
    }
    logo {
        width: 562.5px;
        height: 150px;
        margin: 25px;
        display: inline-block;
        vertical-align: middle;
    }
    mobile {
        display: inline-block;
    }
    desktop {
        display: none;
    }
    article p {
        font-size: 10vw;
        flex: 1;
    }
}